<nav class="navbar">
    <div>
        <img src="" alt="medium-logo">
        <a href="/">Home</a>
        <a href="/new">Write</a>
        <a href="/show">Our story</a>
        <button type="button">Get Started</button>
    </div>
</nav>