<nav class="">
    <div class="logoArea"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1770 1000">   <circle cx="500" cy="500" r="500"/>   <ellipse ry="475" rx="250" cy="501" cx="1296"/>   <ellipse cx="1682" cy="502" rx="88" ry="424"/><span><h1>Medium</h1></span></svg></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Write</a></li>
        <!-- <li><a href="/show">Our story</a></li> -->
        <li><a href="/show">Sign in</a></li>
        <!-- <button class="cta-btn" type="button">Register</button> -->
        <a class="button" href="/registration">Register</a>
    </ul>
</nav>
