<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="/scripts/show.js" defer></script>
    <script src="https://kit.fontawesome.com/1785b7152f.js" crossorigin="anonymous"></script>
    <% if (typeof page !== 'undefined'){ %>
        <title>Medium Blog - <%= page %> </title>
        <% } else { %>
            <title>Medium Blog</title>
      <%  } %> 
</head>