body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

nav {
    background: #FFC017;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

textarea {
    resize: none;
    height: 75px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: black;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.navbar-item {
    margin: 0;
    padding: 16px;
}

.user-avatar {
    display: flex;
    flex-direction: column;

}

.avatar-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}

/* Links */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: none;
}

a:active {
    color: none;
}

/* End of Links */


svg {
    width: 90px; ;
    height: 110px;
    padding: 1em;
}

span h1 {
    font-size: 30px;
    padding-top: 30px;
}

.logoArea{
    display: flex;

}

.heroBanner {
    background: #FFC017;
    min-height: 285px;
    padding: 100px 0;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto ;
}

.herotitle {
    font-size: 120px;
    line-height: 1;
}

.subtitle {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn {
    font-family: 'Oswald';
    color: whitesmoke;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .8);
}

hr{
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.postGrids {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 25px;
}

.postGrids.three-col .grid{
    width: calc(33.33% - 20px); 
}

.postGrids .grid{
    display: flex;
}


.postTitle{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* Single Post Design  */

img{
    max-width: 100%;

}
.featuredImage img {
    width: 100%; 
}

.featuredImage  {
    margin-bottom: 20px;
}


.socialShareList {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex;
    gap: 5px; 
}

.socialShareList a {
    list-style: none; 
    padding: 5px;
    text-decoration: none; 
    color: #000;
}

.postHeader {
    padding: 30px 20px;
}
.postMeta,
.authorBox {
    display: flex; 
    align-items: center;
    justify-content:space-between;
    font-size: 20px;
}
.postHeader
.authorImage img{
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    object-position: center center; 
    object-fit: cover;
}
.authorBox {
    gap: 15px; 
}

.title{
    font-size: 3em;
}
.articles{
    font-size: 1.5em;
    line-height: 1.8;
    padding-bottom: 20px;
}
/* comment box */

.comments-container{
    background-color: #F2F2F2;
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 15px;
}

.comment-section{
    font-size: 20px;
    padding-left: 20px;
}

.comment-rating{
    display: flex;
}

.comment-section a {
    text-decoration: none;
    color: #000;
}

.form-rating,
.form-content{
    width: 100%;
    height: 55%;
    padding-bottom: 20px;
}

.btn-sec{
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.like_btn {
    padding: 10px 15px;
    background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border: none;
    outline: none;
    color: #e8efff;
    border-radius: 5px;
    cursor: pointer;
}

/* Our Story */
.link-github {
    font-family: "Oswald";
    font-weight: bold;
    text-align: center;

}
.ourstory-link {
    text-align: center;
}

/* registation  */
.logoPic {
    display: flex;
    margin: 180px 80px;
    align-self: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    overflow: hidden;
}

.img.rounded-corners {
    border-radius: 10px;
}
  
.register-container {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #bbb,
                -1px -1px 10px #bbb,
                1px -1px 10px #bbb,
                -1px 1px 10px #bbb;
}

.sidebar {
    width: 50%;
    background-color: #FFC017;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

.registration {
    width: 50%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}
  
h1 {
    font-family: 'Oswald';
    font-weight: 500;
    border-bottom: 2px solid #FFC017;
}
  
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
  
legend {
    padding: 0px, 10px;
    font-family: 'Oswald';
    font-weight: 500;
    color: black;
}
  
.reg-label {
    font-family: 'Oswald';
    font-weight: 400;
    display: block;
}
  
.reg-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFC017;
}
  
.reg-input:focus {
    outline: 0;
    border: 1px solid black;
}
  
.reg-button[type="submit"] {
    width: 100%;
    height: 50px;
    background: #FFC017;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
  
.reg-button[type="submit"]:hover {
    cursor: pointer;
    background: black;
    transition: 0.4s ease-in-out;
}

/* end of registration */

/* Login */
.login-container {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bbb,
                -1px -1px 10px #bbb,
                1px -1px 10px #bbb,
                -1px 1px 10px #bbb;
}
.login-sidebar {
    width: 50%;
    background-color: #FFC017;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

.login {
    width: 50%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}

.login-welcome {
    text-align: center;
}

.login-label {
    font-family: 'Oswald';
    font-weight: 400;
    display: block;
}

.login-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFC017;
}

.login-input:focus {
    outline: 0;
    border: 1px solid black;
}

.login-button[type="submit"] {
    width: 100%;
    height: 50px;
    background: #FFC017;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
  
.login-button[type="submit"]:hover {
    cursor: pointer;
    background: black;
    transition: 0.4s ease-in-out;
}
/* end of login */

/* New Page */
.title-new {
    font-family: "Oswald";
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.new-container {
    width: 80vw;
    margin: 50px auto;
    display: block;
}

.new-input {
    width: 100%;
    margin: 10px 0;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #FFC017;
}

.new-input-a, .new-input-b {
    width: 100%;
    margin: 10px 0;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #FFC017;
}

.new-input:focus, .new-input-a:focus, .new-input-b:focus {
    outline: 0;
    border: 5px solid black;
}

.new-label {
    font-size: 22px;
    font-weight: 600;
}

.new-button[type="submit"] {
    width: 100%;
    height: 50px;
    background: #FFC017;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
  
.new-button[type="submit"]:hover {
    cursor: pointer;
    background: black;
    transition: 0.4s ease-in-out;
}

.new-textarea {
        resize: none;
        height: 200px;
        width: 99%;
        border: 3px solid #FFC017;
        border-radius: 5px;
}

.new-textarea:focus {
    outline: 0;
    border: 5px solid black;
}

::placeholder {
    text-align: center;
}

@media (max-width: 1268px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: row;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-menu li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#list-item {
    color: black;
}

#edit-button {
    color: white;
}
