<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

  <body>

    <%- include('./partials/new-navbar', {user: user}) %>

    <section>
      <div>
        <h1 class="title">New Story</h1>
      </div>
    </section>
    
    <main class="container">
      <div>
        <form action="/" method="POST">

          <div>
            <label for="title">Article Title</label>
            <input type="text" placeholder="Article Title" name="title" id="title"/>
          </div>

          <div>
            <label for="author">Article Author</label>
            <input type="text" placeholder="Author Name" name="author" id="author" />
          </div>

          <div>
            <label for="publishDate">Publish Date</label>
            <input type="text" placeholder="YYYY/MM/DD" name="publishDate" id="publishDate" />
          </div>

          <div>
            <label for="image">Article Image</label>
            <input class="input" type="text" placeholder="http://" name="image" id="image"/>
          </div>

          <div>
            <label for="text">Article Text</label>
            <textarea name="text" id="text" cols="100" rows="50" placeholder="Write your article here!"></textarea>
          </div>

          <button type="submit" class="button is-info">Create Article</button>
        </form>
      </div>
    </main>
    
  </body>
</html>
