<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

  <body>

    <%- include('./partials/new-navbar', {user: user}) %>

    <section>
      <div>
        <h1 class="title-new">New Story</h1>
      </div>
    </section>
    
    <main class="new-container">
      <div>
        <form action="/" method="POST">

          <div>
            <label class="new-label" for="title">Title</label>
            <input class="new-input" type="text" placeholder="Article Title" name="title" id="title"/>
          </div>

          <div style="float: left;">
            <label class="new-label" for="author">Author</label>
            <input class="new-input-a" type="text" placeholder="Author Name" name="author" id="author" />
          </div>

          <div style="float: right;">
            <label class="new-label" for="publishDate">Publish Date</label>
            <input class="new-input-b" type="text" placeholder="YYYY/MM/DD" name="publishDate" id="publishDate" />
          </div>

          <div style="clear:both">
            <label class="new-label" for="image">Photo</label>
            <input class="new-input" type="text" placeholder="http://" name="image" id="image"/>
          </div>

          <div>
            <label class="new-label" for="text">Content</label>
            <textarea class="new-textarea" name="text" id="text" cols="100" rows="50" placeholder="Write your article here!"></textarea>
          </div>

          <input class="new-button" type="submit" value="Create">
        </form>
      </div>
    </main>
    
  </body>
</html>
