<!DOCTYPE html>
<html lang="en">

<%- include('partials/show-head') %>

<body>
    <%- include('./partials/new-navbar', {user: user, username: username}) %>
    <h1 class="ourstory-link"><a href="https://github.com/imcbee/Project-2/blob/main/README.md" target="_blank">Read our story in this link!</a></h1>

</body>
</html>