<!DOCTYPE html>
<html lang="en">
    <%- include('partials/show-head') %>

<body>
    <%- include('./partials/new-navbar', {user: user}) %>
    <h1 class="link-github"><a href="https://github.com/imcbee/Project-2/blob/main/README.md">Read our story in this link!</a></h1>
</body>
</html>