<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include ('partials/head.ejs', {page: articles.title}) %> 

<body>
    <%- include ('partials/navbar.ejs') %> 

    <main class="container">
        <div>
            
        </div>
    </main>
</body>
</html>